<nav class="navbar navbar-expand-lg" style="margin:20px 0 80px 140px;" >
    <a class="navbar-brand" href="/" ><img class="logo" src="/images/Gyul.png"alt="ggul" style="width:60px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <style>
        .nav-link{margin-left:100px;font-size: 15pt; font-weight: 900;}
        </style>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about" style="margin-left:230px;">소개 <span class="sr-only" >(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/posts">질문 & 답변<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" ">회원가입<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">로그인<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>