<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('../partials/head') %>
  <title>metamask page</title>
 
</head>
<body>
    <%- include('../partials/nav') %>
    <div class ="container mb-3">
    <div class="form-group">
      <div class="form-group">
          <label>내 잔액</label>
            <input type="text" id="" name="address" class="form-control" placeholder="받을 주소" >
              <span class="invalid-feedback"></span>
          </div>
    </div>

  
</body>
</html>