<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <div class ="container mb-3">
    <div class ="send" style="margin:0 auto;">
      <input type ="text" id ="send" name ="send" placeholder="보낼 주소" value="">
      <input type ="text" id ="unit" name ="unit" placeholder="보낼 토큰 개수" value="">
    </div>
   
    <div id="formFooter">
        <button type="button" id="transferButton" class="fadeIn fourth btn btn-secondary">전송하기</button>
      </div>
    <hr>
  </div>
  
</body>
</html>