<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <div class ="main" style="text-align: center;"><a href=/about style="color:rgba(255, 94, 0,); text-decoration: none;">
            <h1 style="font-weight: 600; font-size:35pt;">도현이네 귤</h1></br>
            <h4>제주도 대정읍 무릉리에서 가족이 하는 농장</h4>
            <small class="text-muted" style="font-size: 20pt; margin-bottom: 300px;">믿고 먹을 수 있습니다.</small>
            </a>
            <div class ="tag" style="margin-top:10px;">
            <a href ="/about" style="font-size:13pt;margin-right:20px;">더 알아보기</a>
            <a href ="#" style="font-size:13pt;">바로 사러가기</a>
        </div>
        <img src="/images/Main.png" alt="Main" style="width:44%; margin-top:50px;">
    </div>
    </div>
    
</body>
</html>